*{
    border: 0px dotted;
}

body {
    margin: 0 auto;
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 10px 20px;
    color: #555;
}

header{
    display: inline-block;
    margin: 0px;
    background-color: rgb(133, 133, 218);
    width: 694px;
    height: 400px;

}

header > img{
    border-radius: 50%;
    text-align: left;
    float: left;
}

header > h1{
    text-align: right;
    color: white;
}

header > h2{
    text-align: right;
    color: white;
}
  
main > section>article{
    margin: 0 auto;
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 10px 10px;
   
}

main > section > article> h4,p{
    text-align: right;

}

main > article > section> h3{
    text-align: right;
}

main{
    background-color: lightgrey;
    width: 497px;
    padding: 3px 3px;
    margin: 0px;
    float: right;
    color: rgb(241, 234, 234);
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(rgb(15, 45, 163),rgb(14, 151, 172));
}

aside{
    background-color: lightgrey;
    width: 488.5px;
    border: 10px greenyellow;
    padding: 3px 3px;
    margin: 0px;
    float: left;
}