*{
    border: 1px dotted purple;
}

body {
    margin: 0 auto;
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 10px 20px;
    border: 1px solid black;
    color: #555;
}

body.header{
    display: inline-block;
    margin: 0px;
    background-color: blueviolet;
    width: 694px;
    height: 500px;
}


img{
    border-radius: 50%;
}
    
main > section>article{
    margin: 0 auto;
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 10px 20px;
    border: 1px solid black;
    color: #555;
}


main > section > article > h3{
    color: tomato;
}
