/**{
    border: 1px dotted purple;
}

body {
    margin: 0 auto;
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 10px 20px;
    border: 1px solid black;
    color: #555;
}

body.header{
    display: inline-block;
    margin: 0px;
    background-color: blue;
    width: 694px;
    height: 400px;

}

body > header > img{
    border-radius: 50%;
    text-align: left;
    float: left;
}

body > header > h1{
    text-align: right;
}

body > header > h2{
    text-align: right;
}
  
main > section>article{
    margin: 0 auto;
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 10px 10px;
    border: 1px solid black;
    color:black;
}

main > section > article> h4{
    text-align: right;
}

main > article > section> h3{
    text-align: left;
}
main > section > article> p{
    text-align: right;
}

div, aside{
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 10px 10px;
    margin: 0px;
    float: left;
}

main{
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 0px;
    float: left;
}

body>header> {

}
*/